// Enter all variables here. Use default css variables rather than scss variables:
// https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables

:root {
  --color-bg: #f4f3ec;
  --color-blue: #36a166;
  --color-purple: #ba6236;
  --color-white: #7d9726;
  --color-gray: #5f5e4e;
  --color-primary: #22221b;
}
