// Enter all variables here. Use default css variables rather than scss variables:
// https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables

:root {
  --color-bg: #1d1f21;
  --color-blue: #81a2be;
  --color-purple: #b294bb;
  --color-white: #b5bd68;
  --color-gray: #c5c8c6;
  --color-primary: #8abeb7;
}
