// Enter all variables here. Use default css variables rather than scss variables:
// https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables

:root {
  --color-bg: #f8f8f8;
  --color-blue: #7cafc2;
  --color-purple: #96609e;
  --color-white: #383838;
  --color-gray: #585858;
  --color-primary: #383838;
}
